$colorPrincipal: #402cc3;
$colorSecundario: #f44647;
$colorMenu: #ffff;
$colorBody: #f3f3f3;
$fontPrincipal: 'Poppins', sans-serif;
$fontSizePrincipal: 6em;
$fontSizeParrafos: 1.5em;
$fontSizeMenu: 2rem;
$fontSizeSubtitulos: 3em;
$fontSizeFooter: 20px;
$fontNegrita: bold;
$fontLiviana: lighter;
$textDecoration: none;